doctype html
html(ng-app='habitrpg', ng-controller='RootCtrl')
  head
    meta(charset='utf-8')
    link(href='//fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
    title Habitica | Your Life the Role Playing Game
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    meta(name='geo.placename', content='')
    meta(name='viewport', content='width=device-width, maximum-scale=1')
    meta(property='og:url', content='https://habitica.com/static/front')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Habitica: Your Life the Role Playing Game')
    meta(property='og:description', content='Habitica is a free habit building and productivity app that treats your real life like a game. With in-game rewards and punishments to motivate you and a strong social network to inspire you, Habitica can help you achieve your goals to become healthy, hard-working, and happy.')
    meta(property='og:site_name', content='Habitica')
    meta(property='og:image', content='https://s3.amazonaws.com/habitica-assets/assets/gryphon_logo_300x300.png')
    meta(property='fb:app_id', content='128307497299777')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@habitica')
    meta(name='twitter:title' content='Habitica: Your Life the Role Playing Game')
    meta(name='twitter:description' content='Habitica is a free habit-building and productivity app that treats your real life like a game! Motivate yourself with in-game rewards and social encouragement.')
    meta(name='twitter:image' content='https://s3.amazonaws.com/habitica-assets/assets/gryphon_logo.png')
    meta(name='apple-itunes-app' content='app-id=994882113')
    meta(name='google-play-app' content='app-id=com.habitrpg.android.habitica')
    link(rel='apple-touch-icon' href='/logo.png')
    link(rel='android-touch-icon' href='/logo.png')
    link(rel='canonical', href='', type='text/html')
    link(rel='shortcut icon', sizes="32x32", href='/favicon.ico')
    link(rel='shortcut icon', sizes="192x192", href='/favicon_192x192.png')
    link(rel='mask-icon', href='/favicon.ico')

    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')

    script(type='text/javascript').
      window.env = !{JSON.stringify(env._.pick(env, env.clientVars))};

    != env.getManifestFiles("tmp_static_front")

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js')

  body(ng-controller='AuthCtrl')
    include ./login-modal
    include ../shared/avatar/index
    include ../shared/mixins
    include ../shared/modals/members

    noscript.banner= env.t('jsDisabledHeadingFull')
      br
      a(href='http://www.enable-javascript.com/', target='_blank')= env.t('jsDisabledLink')

    .mobile-container
      div(ng-init='Analytics.track({"hitType":"pageview","eventCategory":"page","eventAction":"landing page","page":"/static/front"});')
      header#header
        nav.navbar.navbar-default.navbar-static-top
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                img.img-rendering-auto(src='https://d2afqr2xdmyzvu.cloudfront.net/assets/habitica_lockup2_desat.png', alt=env.t('altAttrNavLogo'))
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  button#header-play-button.btn.btn-primary.navbar-btn.navbar-right(ng-click='playButtonClick()')= env.t('playButtonFull')
      #intro
        h1=env.t('motivate1')
        img.img-rendering-auto.center-block.img-responsive(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/intro.png', alt='')
      #intro-text
        .container-fluid
          .row
            .col-md-8.col-md-offset-2
              p.lead.text-center
                = env.t('leadText')

    // :CHANGED: removed default content
       #footer      
        .row.footer-content
          include ../shared/footer

    // Footer scripts
    // Use carousel initialize
    script(type='text/javascript').
      $(document).ready( function() {
        var clickEvent = false;
        $('#myCarousel').on('click', '.nav a', function() {
          clickEvent = true;
          $('#myCarousel .nav li').removeClass('active');
          $(this).parent().addClass('active');
        }).on('slid.bs.carousel', function(e) {
        if(!clickEvent) {
          var count = $('#myCarousel .nav').children().length -1;
          var current = $('#myCarousel .nav li.active');
          current.removeClass('active').next().addClass('active');
          var id = parseInt(current.data('slide-to'));
          if(count == id) {
            $('#myCarousel .nav li').first().addClass('active');
          }
        }
        clickEvent = false;
        });
      });
    // Tooltips
    script(type='text/javascript').
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        $('[data-toggle="popover"]').popover()
      })
    // Smart App Banner
    script(type='text/javascript').
      new SmartBanner({
          title: 'Habitica: Gamify Your Tasks',
          author: 'HabitRPG, Inc.',
          button: 'GET',
          store: {
              ios: 'On the App Store',
              android: 'In Google Play'
          }
      });
    // Hack fix for carousel (http://stackoverflow.com/a/22182184/362790)
    script.
      angular.module('ui.bootstrap.carousel', ['ui.bootstrap.transition'])
      .controller('CarouselController', ['$scope', '$timeout', '$transition', '$q', function ($scope, $timeout, $transition, $q) {
      }]).directive('carousel', [function () {
        return {}
      }]);
